.slider-toggles() {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 71px;
  height: 12px;
  margin: 0 auto;
  cursor: pointer;
}

.slider-toggle() {
  width: 6px;
  height: 6px;
  margin: 3px 3px;
  background-color: fade(@text-color-main, 30);
  border-radius: 50%;

  &--set {
    margin: 0;
    padding: 0;
    border: 3px solid @text-color-main;
    background-color: #ffffff;
  }

  &:not(&--set):hover {
    background-color: fade(@text-color-main, 60);
    cursor: pointer;
  }

  &:not(&--set):active {
    background-color: fade(@text-color-main, 10);
  }
}

.slider-input() {
  display: none;
}
