@text-color-main: #283645;
@text-color-rose: #d22856;
@text-color-white: #ffffff;
@text-color-black: #000000;

@bg-color-nav: @text-color-main;
@bg-color-header: #1d2631;
@bg-color-grey: #f2f2f2;

@table-border-color: #e5e5e5;

@tablet-widths: ~"(min-width: 768px)";
@desktop-widths: ~"(min-width: 1200px)";
