.copyright {
  display: block;
  width: 130px;
  font-size: 14px;
  line-height: 18px;
}

.copyright__academy-logo {
  img {
    display: inline-block;
    vertical-align: middle;
    margin-left: auto;
    padding: 0;
  }
}
