.downloads {
  padding: 18px;
  color: @text-color-white;
  background-color: @bg-color-header;
}

.downloads__items {
  max-width: 320px;
  margin: 0 auto;
  margin-bottom: 30px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.downloads__item {
  margin-right: 32px;
}

.downloads__description{
  display: block;
  width: 90%;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}
