.downloads {
  height: 400px;
  padding: 0;
  margin:0 auto;
  padding-top: 490px;
  box-sizing: border-box;
  @media @tablet-widths {
    position: absolute;
    top: 211px;
    left: 60px;
    max-width: 330px;
    padding-top: 0;
  }
  @media @desktop-widths {
    max-width: 302px;
    min-height: 505px;
    top: 218px;
    left: 8px;
  }
}

.downloads__title {
  display: none;
  width: 200px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 32px;
  font-size: 40px;
  line-height: 48px;
  font-weight: 300;
  text-align: center;
  @media @tablet-widths {
    display: block;
  }
  @media @desktop-widths {
    width: 240px;
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 50px;
  }
}

.downloads__items {
  display: block;
  max-width: 206px;
  margin: 0 auto;
  margin-bottom: 23px;
  padding: 0;
  list-style: none;
  @media @tablet-widths {
    margin-bottom: 38px;
  }
  @media @desktop-widths {
    margin-bottom: 56px;
  }
}

.downloads__item {
  display: inline-block;
  vertical-align: text-bottom;
  margin-right: 29px;

  &:last-child {
    margin-right: 0;
  }
}

.downloads__btn {
  display: block;
  background-repeat: no-repeat;
  background-position: center center;

  &--ios {
    width: 47px;
    height: 57px;
    background-image: url('/img/logo-apple.svg');
  }

  &--android {
    width: 43px;
    height: 48px;
    background-image: url('/img/logo-android.svg');
  }

  &--win {
    width: 44px;
    height: 42px;
    background-image: url('/img/logo-microsoft.svg');
  }
}

.downloads__description{
  display: block;
  width: 90%;
  padding: 0;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  @media @tablet-widths {
    width: 100%;
    font-size: 18px;
    line-height: 24px;
  }
}
