.footer-logo {
  display: block;
  width: 320px;
  margin-top: -16px;

  @media @tablet-widths {
    width: auto;
  }
}

.footer-logo__icon{
  fill: #283645;
  
  &:hover {
    fill: @text-color-rose;
  }
  
  &:active {
    fill: #283645;
    opacity: 0.3;
  }
  
  &--tablet {
   display: inline-block;
    @media @desktop-widths {
      display: none;
    }
  }
  
  &--desktop {
    display: none;
    @media @desktop-widths {
      display: inline-block;
    } 
  }
}
