.main-form__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  align-items: flex-start;
  padding: 0;
  
  @media @tablet-widths {
    padding: 20px 40px;
  }
}

.main-form__required {
  display: block;
  width: auto;
  margin-top: 40px;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  color: @text-color-main;

  span {
    color: @text-color-rose;
  }
}

.main-form__submit-wrapper {
  @media @tablet-widths {
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
    margin-bottom: 80px;
  }
  
  @media @desktop-widths {
    padding: 0 40px;
  }
}
