.main-nav {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 20;
  @media @desktop-widths {
    height: 110px;
    display: flex;
    align-items: center;
    background-color: fade(@text-color-black, 30);
  }

  &--closed .main-nav__items {
    display:none;
    @media @desktop-widths {
      display: flex;
    }
  }

  &--closed + .page-header--page {
    padding-top: 94px;
    @media @tablet-widths {
      padding-top: 197px;
    }
    @media @desktop-widths {
      padding-top: 113px;
    }
  }

  &--opened {
    position: relative;
    @media @desktop-widths {
      position: absolute;
    }
  }

  &--opened + .page-header {
    min-height: 664px;
    background-position: left 110px, 50% -70px;
    background-size: auto 288px, auto 462px;

    .downloads {
      padding-top: 421px;
      @media @desktop-widths {
        padding-top: 0;
      }
    }
  }

  &--opened + .page-header--page {
    min-height: 169px;
    padding-top: 28px;
    background-position: 50% -70px;
    background-size: auto 462px;
  }

  &--nojs {
    position: relative;
    @media @desktop-widths {
      position: absolute;
    }
  }
}

@media @tablet-widths {
  .main-nav--opened + .page-header--index {
    min-height: 617px;
    background-position: 0px 72px, -250px -110px;
    background-size: auto 547px, auto 728px;
    /*background-size: 91%, auto 728px;*/

    .downloads {
      top: -330px;
    }
  }
  .main-nav--opened + .page-header--page {
    min-height: 330px;
    padding-top: 83px;
    background-size: auto 728px;
    background-position: 50% -112px;
  }
}

@media @desktop-widths {
  .main-nav--opened + .page-header--index {
    min-height: 853px;
    background-position: 98% bottom, center;
    /*background-position: 145px bottom, center;*/
    background-size: auto 646px, auto 856px;
    .downloads {
      position: absolute;
      top: 218px;
    }
  }
  .main-nav--opened + .page-header--page {
    padding-top: 113px;
  }
}

.main-nav__header {
  box-sizing: border-box;
  width: 100%;
  min-height: 70px;
  background-color: fade(@text-color-black, 30);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 23px 18px;
  @media @tablet-widths {
    min-height: 110px;
    padding: 37px 18px;
  }
  @media @desktop-widths {
    background-color: transparent;
  }
}

.toggle_icon(@bg-url) {
  background-repeat: no-repeat;
  background-image: url(@bg-url);
  background-position: left top;
}

.main-nav__toggle {
  display: block;
  margin: 0;
  margin-left: auto;
  margin-top: -2px;
  padding: 0;
  height: 26px;
  border: none;
  outline: none;
  background-color: transparent;
  fill: #ffffff;
  cursor: pointer;

  &:hover {
    fill: @text-color-rose;
  }

  &:active {
    opacity: 0.6;
  }

  @media @tablet-widths {
    padding-right: 10px;
    margin-top: 1px;
  }
  @media @desktop-widths {
    display: none;
  }
}

.main-nav__wrapper {
  width: 100%;
  @media @desktop-widths {
    max-width: 960px;
    margin: 0 auto;
  }
}

.main-nav--closed .main-nav__toggle {
  &--cross {
    display: none;
  }
  &--burger {
    display: block;
  }
  @media @desktop-widths {
    display: none;
  }
}

.main-nav--opened .main-nav__toggle {
  &--cross {
    display: block;
  }
  &--burger {
    display: none;
  }
}

.main-nav--opened .main-nav__header,
.main-nav--nojs .main-nav__header {
  background-color: @bg-color-nav;
  @media @desktop-widths {
    background-color: transparent;
  }
}

.main-nav__items {
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: @bg-color-nav;
  border-bottom: 1px solid #000000;
  @media @desktop-widths {
    max-width: 625px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: 8px;
    margin-top: -14px;
    border: none;
    background-color: transparent;
  }
}

.main-nav__item {
  min-height: 44px;
  text-align: center;
  box-shadow:
    0 -1px 0 0 #000000,
    inset 0 1px 0 0 rgba(255, 255, 255, 0.15);

  a {
    display: block;
    padding: 16px 16px;
    font-style: normal;
    font-size: 18px;
    line-height: 32px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: @text-color-white;
    cursor: pointer;
    @media @desktop-widths {
      display: inline-block;
      vertical-align: middle;
      padding: 0;
      height: 0px;
      font-weight: normal;
      text-transform: none;
    }

    &:hover {
      color: @text-color-rose;
    }

    &:active {
      color: fade(@text-color-rose, 30);
    }
  }

  &--active {
    @media @desktop-widths {
      color: #ffffff;
      border-bottom: 2px solid @text-color-white;

      &:hover {
        color: @text-color-rose;
        cursor: pointer;
        border-color: @text-color-rose;
      }
    }
  }
  @media @desktop-widths {
    margin-right: 81px;
    box-shadow: none;
    white-space: nowrap;
  }
}

.main-nav--nojs .main-nav__items{
  display: block;
  @media @desktop-widths {
    display: flex;
    padding-top: 0px;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs + .page-header--page {
  padding-top: 37px;
}
