.main-nav__container {
  position: absolute;
  width: 100%;
  z-index: 20;  
}

.main-nav {
  width: 100%;
  background-color: @bg-color-nav;
    
  @media @desktop-widths {
    background-color: fade(@text-color-black, 30);  
  }
  
  &--closed {
    display:none;
    
    @media @desktop-widths {
      display: block;
    }
  }
  
  &--closed + .main-nav__toggle {
    background-color: fade(@text-color-black, 30);
    
    @media @desktop-widths {
      display: none; 
    }
  } 
}

.main-nav__wrapper {
  width: 100%;
      
  @media @desktop-widths {
    max-width: 625px;
    margin-left: auto;
    margin-right: 130px;
  }
}

.main-nav__items {
  padding: 0;
  margin: 0;
  list-style: none;
  border-bottom: 1px solid #000000;
  
  @media @desktop-widths {
    display: flex;
    justify-content: space-between;
    border: none;
  }
}

.main-nav__item {
  text-align: center;
  box-shadow:
    0 -1px 0 0 #000000,
    inset 0 1px 0 0 rgba(255, 255, 255, 0.15);

  a {
    display: block;
    padding: 16px 16px;
    font-style: normal;
    font-size: 18px;
    line-height: 32px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: @text-color-white;
    cursor: pointer;

    &:hover {
      color: @text-color-rose;
    }

    &:active {
      color: fade(@text-color-rose, 30);
    }
    
    @media @desktop-widths {
      font-weight: normal;
      text-transform: none;
      padding: 39px 0;
    }
  }
  
  &--active {
    
    @media @desktop-widths {
      text-decoration: underline;
      color: #ffffff;

      &:hover {
        color: @text-color-rose;
        cursor: pointer;
      }
    }
  }
  
  @media @desktop-widths {
    box-shadow: none;
  }
}

.main-nav__toggle {
  width: 100%;
  min-height: 70px;
  background-color: @bg-color-nav;
  border: none;
  
  @media @desktop-widths {
    display: none; 
  }
}
