.map {
  width: 100%;
  min-height: 205px;
  background-image: url('/img/bg-map-mobile@1x.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  
  @media @tablet-widths {
    min-height: 380px;
  }
  
  @media @desktop-widths {
    min-height: 503px;
  }
}
