@bg-modal-popup: #ffffff;

.modal-popup {
  width: 320px;
  box-sizing: border-box;
  margin-bottom: 30px;
  background-color: @bg-modal-popup;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.modal-popup__header {
  padding: 20px 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
}

.modal-popup__message {
  margin-bottom: 30px;
  padding: 0 20px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.modal-popup__btn-wrapper {
  padding: 40px 20px;

  &--grey {
    background-color: @bg-color-grey;
  }
}
