.page-header{
  min-height: 462px;
  color: @text-color-white;
  background-color: @bg-color-header;
  background-image: url('/img/bg-back-mobile@1x.jpg');
  background-repeat: no-repeat;
  background-position: top center;

  &--index {
    background-image: url('/img/iphone-hand-mobile@1x.png'), url('/img/bg-back-mobile@1x.jpg');
    background-position: center bottom, center;
  }
}

.main-header {
  display: block;
  max-width: 235px;
  margin: 0 auto;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}
