.page-footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 206px;
  padding: 5px 20px;
  margin-bottom: 40px;

  @media @tablet-widths {
    height: auto;
    flex-direction: row;
    padding: 6px 33px 0 41px;
  }
  @media @desktop-widths {
    max-width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 76px 121px 70px 130px;
  }

  &--index {
    height: auto;
    padding: 32px 33px 35px 40px;
    display: none;

    @media @tablet-widths {
      display: flex;
      flex-direction: row;
      padding: 41px 33px 0 41px;
      margin-bottom: 52px;
    }
  }
}
