.page-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 32px 33px 35px 40px;

  &--index {
    display: none;

    @media @tablet-widths {
      display: flex;
    }
  }

  @media @desktop-widths {
    max-width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 73px 121px 70px 130px;
  }
}
