.photos {
  max-width: 280px;
  padding: 0 20px;
  margin: 0;
  list-style: none;
}

.photos__item {
  margin-bottom: 20px;

  img {
    display: block;
    border: none;
    padding: 0;
    margin: 0;
  }
}
