.photo-description {
  margin: 0 auto;
  padding: 20px;
  background-color: @bg-color-grey;
}

.photo-description__auth {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
}

.photo-description__pubdate {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.photo-description__text {
  margin-top: 0;
  font-size: 14px;
  line-height: 24px;
}

.photo-description__likes {
  padding-left: 30px;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: @text-color-rose;
}

.photo-description__like-btn {

}
