.photo-description {
  margin: 0 auto;
  padding: 18px 17px 20px;
  @media @tablet-widths {
    min-height: 110px;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    padding: 24px 30px 22px 27px;
  }
  @media @desktop-widths {
    min-height: 109px;
    padding: 25px 27px 22px 28px;
  }
}

.photo-description__auth {
  display: block;
  width: auto;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  white-space: nowrap;
}

.photo-description__pubdate {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.photo-description__text {
  margin: 0;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 24px;
  @media @desktop-widths {
    margin-top: -1px;
  }
}

.photo-description__likes {
  width: 100%;
  position: relative;
  padding-left: 32px;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: @text-color-rose;
  white-space: nowrap;
  @media @tablet-widths {
    margin-top: auto;
    padding: 0;
  }
}


.photo-description__like-btn {
  position: absolute;
  left: 1px;
  top: 5px;
  display: block;
  width: 15px;
  height: 14px;
  background-image: url('/img/icon-heart.svg');
  background-repeat: no-repeat;
  background-position: 0% 50%;
  @media @tablet-widths {
    left: auto;
    right: 0;
    top: 3px;
  }
  @media @desktop-widths {
    right: 3px;
    top: 4px;
  }
}

.photo-description--panorama {
  background-color: @bg-color-grey;
  @media @tablet-widths {
    min-height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
    align-items: flex-start;
    padding: 23px 28px 14px;
    margin: 0;
  }
  @media @desktop-widths {
    max-width: 886px;
    margin: 0 auto;
    padding-top: 24px;
  }

  .photo-description__auth {
    @media @tablet-widths {
      order: 1;
      width: auto;
    }
  }

  .photo-description__likes {
    @media @tablet-widths {
      width: auto;
      order: 2;
      padding-right: 30px;
      padding-left: 0;
    }
    @media @desktop-widths {
      padding-right: 35px;
    }
  }

  .photo-description__text {
    @media @tablet-widths {
      flex-basis: 100%;
      flex-shrink: 0;
      order: 3;
    }
  }
}
