.post-form {

}

.post-form__photo {
  padding-top: 20px;

  img {
    display: block;
    margin: 0 auto;
  }
}

.post-form__controls {
  min-height: 113px;
  margin-bottom: 38px;
  border-bottom: 1px solid fade(@text-color-main, 10);
}

.post-form__wrapper {
  min-height: 50px;
}

.post-form__input {
  display: none;
}

.post-form__control-slider {
  display: block;
  box-sizing: border-box;
  position: relative;
}

.post-form__slider {
  width: 80%;
  margin: 0 auto;
  height: 1px;
  background-color: @text-color-main;
}

.post-form__toggle {
  position: absolute;
  top: -8px;
  left: 70%;
  width: 12px;
  height: 12px;
  border: 2px solid @text-color-rose;
  background-color: @text-color-white;
  border-radius: 50%;
}

.post-form__btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 20px;
}
