.product {
  padding: 50px 20px;
  padding-bottom: 280px;
  background-color: @bg-color-grey;
  background-image: url('/img/iphone-screen-mobile@1x.png');
  background-repeat: no-repeat;
  background-position: center bottom;
}

.product__items {
  padding: 0;
  margin: 0;
  list-style: none;
}

.product__item {
  margin-bottom: 38px;
  line-height: 24px;
  text-align: center;
}

.product__item-title {
  font-size: 18px;
  font-weight: bold;
}

.product__item-description {
  font-size: 14px;
  font-weight: normal;
}
