@import "../global/slider.less";

.reviews-slider {
  &::before {
    display: none;
    @media @desktop-widths {
      content: '';
      display: block;
      width: 85px;
      height: 70px;
      margin: 0 auto;
      background-image: url('/img/icon-quotes.svg');
      background-repeat: no-repeat;
      background-position: left 5px top;
    }
  }
}

.reviews-slider__items {
  margin-bottom: 34px;
}

.reviews-slider__item-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  @media @tablet-widths {
    margin-bottom: 20px;
  }
  @media @desktop-widths {
    margin-bottom: 0px;
  }
}

.reviews-slider__toggle-btn {
  display: none;
  position: absolute;
  margin-top: -20px;
  top: 90px;
  @media @desktop-widths {
    display: block;
  }

  &--prev {
    left: 10px;
  }

  &--next {
    order: 3;
    right: 10px;
  }

  svg {
    fill: fade(@text-color-main, 30);
  }

  &:hover {
    cursor: pointer;
    svg {
      fill: fade(@text-color-main, 60);
    }
  }

  &:active {
    svg {
      fill: fade(@text-color-main, 10);
    }
  }
}

.reviews-slider__item {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  text-align: center;
}

.reviews-slider__author {
  order: -1;
  text-align: center;
  width: 100%;
  @media @tablet-widths {
    order: 2;
  }
}

.reviews-slider__author-name {
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 20px;
  @media @tablet-widths {
    font-size: 20px;
    margin-top: 14px;
    margin-bottom: 0;
  }
  @media @desktop-widths {
    font-size: 24px;
    margin-bottom: -2px;
  }
}

.reviews-slider__author-info {
  display: none;
  padding: 0;
  margin: 0;
  line-height: 30px;
  @media @tablet-widths {
    display: block;
    margin-top: 3px;
    font-size: 14px;
  }
  @media @desktop-widths {
    font-size: 18px;
  }
}

.reviews-slider__author-text {
  order: 2;
  padding: 0 20px;
  margin-top: -7px;
  font-size: 14px;
  line-height: 30px;

  span {
    @media @desktop-widths {
      display: none;
    }
  }
  @media @tablet-widths {
    padding: 0 60px;
    font-size: 18px;
  }
  @media @desktop-widths {
    padding: 50px 100px 23px;
  }
}

.reviews-slider__toggles {
  .slider-toggles();
  @media @desktop-widths {
    display: none;
  }
}

.reviews-slider__toggle {
  .slider-toggle()
}

.reviews-slider__input {
  .slider-input();
}
