@import "../global/slider.less";

.reviews-slider {

}

.reviews-slider__items {

}

.reviews-slider__item {
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  text-align: center;
}

.reviews-slider__author-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  font-style: normal;
}

.reviews-slider__author-text {
  padding: 0 20px;
  font-size: 14px;
  line-height: 30px;
}

.reviews-slider__toggles {
  .slider-toggles();
}

.reviews-slider__toggle {
  .slider-toggle()
}

.reviews-slider__input {
  .slider-input();
}
